body {
    background-image: url("character.jpeg");
    font-variant: small-caps;
    display: block;
    margin: 0;
}

.header {
    background-image: url("characterHeader.jpeg");
    color: white;
    border: #a07c46;
    border-bottom-width: 0.8vh;
    text-align: center;
    border-bottom-style: solid;
}

.headerText {
    position: relative;
    margin: 0;
    top: 50%;
    padding: 2vh;
    font-size: 4vh;
    font-weight: 1000;
}

.disciplines {
    display: inline-grid;
    grid-template-columns: 48vw 48vw;
    grid-auto-flow: row;
    margin: 2vw;
    border-style: solid;
    border-width: 3px 0.1vw 3px 0.1vw;
    border-top-color: #b0895a;
    border-bottom-color: #b0895a;
    background: rgba(176, 137, 90, .5);
}

#columnHeader {
    border-style: none;
    margin-left: 2px;
}

.leftColumn {
    border-style: solid solid none none;
    border-right-width: 1px;
    border-top-width: 1px;
    margin-left: 5px;
}

.columnItem {
    border-style: solid none none none;
    border-top-width: 1px;
    margin-right: 3px;
}

.sectionHeader {
    text-align: center;
    font-size: larger;
    margin-bottom: -1.75%;
    margin-top: 0%;
}

input {
    background: none;
    border-style: inherit;
    border-color: black;
    width: 92%;
    padding-left: .75%;
}

.weapons {
    display: inline-grid;
    grid-template-columns: 96vw;
    grid-auto-flow: row;
    margin: 2vw;
    border-style: solid;
    border-width: 3px 0.1vw 3px 0.1vw;
    border-top-color: #b0895a;
    border-bottom-color: #b0895a;
    background: rgba(176, 137, 90, .5);
}

.backpack {
    display: inline-grid;
    grid-template-columns: 58vw 38vw;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-auto-flow: column;
    margin: 2vw;
    border-style: solid;
    border-width: 3px 0.1vw 3px 0.1vw;
    border-top-color: #b0895a;
    border-bottom-color: #b0895a;
    background: rgba(176, 137, 90, .5);
}

#mealNote1 {
    font-variant: none;
    font-size: small;
    margin-top: -2.5%;
}

#mealNote2 {
    font-variant: none;
    font-size: small;
    padding: auto inherit;
}

#meals {
    grid-row: 2/5;
    border-style: none;
}

#backOne {
    border-top-style: none;
}

#beltPouch {
    grid-row: 7/9;
    border-style: none;
}

#beltNote {
    font-variant: none;
    font-size: small;
    margin-top: -2.5%;
}

#beltHeader {
    border-style: solid none none none;
    border-width: 1px;
}

.special {
    display: inline-grid;
    grid-template-columns: 45vw;
    margin: 2vw 26vw 2vw 26vw;
    border-style: solid;
    border-width: 3px 0.1vw 3px 0.1vw;
    border-top-color: #b0895a;
    border-bottom-color: #b0895a;
    background: rgba(176, 137, 90, .5);
}
